 body {
 	margin: 0;
 }
.inic{
	color:  red !important;
	  display: flex; 
	  flex-direction: row;
	  flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	width: auto !important;
	height: 400px;
}
.iconlog{
width: 50%;
height: 400px;
background-color: blue;
}
.info{
width:50% ;
height: 400px;
background-color: red;
}
@media (max-width: 745px) {
        .info {
            width:  100%;
        }
        .iconlog{
        	width: 100%;
        }
    }
.tegnoc{
	color:  red !important;
	background-color: red;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 550px;
}
.proyec{
	color:  red !important;
	background-color: yellow;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 550px;
}
.contac{
	color:  red !important;
	background-color: green;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 550px;
}