/* Google Fonts */
      /* Google Fonts */

      :root {
        --bs-blue: #2596be;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #e9ecef;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #6c757d;
        --bs-gray-700: #495057;
        --bs-gray-800: #343a40;
        --bs-gray-900: #212529;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-primary-rgb: 13, 110, 253;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-light-rgb: 248, 249, 250;
        --bs-dark-rgb: 33, 37, 41;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0, 0, 0;
        --bs-body-color-rgb: 33, 37, 41;
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        --bs-body-font-family: var(--bs-font-sans-serif);
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-body-color: #212529;
        --bs-body-bg: #fff;
      }

    @import url(https://fonts.googleapis.com/css?family=Exo&display=swap);

    /* Global */

    body {

      color: rgba(255, 255, 255, 0.75);
      font-family: 'Exo';

    }

    .content {
      padding: 4em;
      border-color: #fff;
      margin: 20px;

    }

    .primero {
      width: 100%;
      height: 450px;
      position: relative;
     z-index: 1;
     /* background-image: url("svg.png");*/
    }
    .svg-rect{
      position: absolute;
      right:  -15;
      height: 90%;
      z-index: 12;
      -moz-transform: scaleY(-1); /* Firefox */
-o-transform: scaleY(-1); /* Opera */
-webkit-transform: scaleY(-1); /* Chrome y Safari */
transform: scaleY(-1); /* w3org */
filter: FlipV; /* Internet Explorer */
    }

    .segundo {
      margin-top: 0;
      width: 100%;
      height: 500px;
      background-color: blue;

    }

    .line {
      overflow: hidden;

      border-right: 2px solid rgba(255, 255, 255, 0.75);
      width: 23em;
      white-space: nowrap;
      


    }
    .codigo{
      display: flex;

      justify-content: center;
      align-items: center;
      
    }


    /*Animation*/
    .anim-typewriter {
      animation: typewriter 8s steps(36) ,
        blinkTextCursor 500ms steps(36) infinite normal;

    }

    @keyframes typewriter {
      from {
        width: 0;
      }

      to {
        width: 20em;
      }
    }

    @keyframes blinkTextCursor {
      from {
        border-right-color: rgba(255, 255, 255, 0.75);
      }

      to {
        border-right-color: transparent;
      }
    }
      .program{
      	position: relative;
        z-index: 2;
      	 display: flex;
      	 align-items: center;
  justify-content: center;

      }
     
.header {
  position: relative;
  height: 540px;
  background: #2596be;
  background-image: linear-gradient(155deg, #2596be 0%, #2596be 50%, #138b89 100%);
  border-bottom: #fff solid !important;
 

}
    header h1 {
        color: white;


    }

    .svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    .content-about {
     

      height: 450px;
      width: 100%;
  background: #0b345d;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;
}

.diagonal-shape.bl-to-tr {
  height: 0;
  width: 100%;
  margin: 0;
  border-style: solid;
  border-width: 0 0 100px 100vw;
  border-color: transparent #2596be #2596be transparent;
}
.about{
  background-color: #2596be !important;
}

.block {
   justify-content: center;
   align-items: center;
    background-color: #2596be;
    border-style: none;
    color: white;
    text-align: center;
    
}
.about{
  align-items: center;
  text-align: center;
}
#undraw_progressive_app_m-9-ms-s-g1
{
  animation: mano  4s both infinite alternate ;

  transform-origin: bottom;
  transform-box:fill-box;
}
#undraw_progressive_app_m-9-ms-s-g2{
  animation: mano2  3.1s ease-in-out infinite alternate ;

  transform-origin: left;
  transform-box:fill-box;

}
@keyframes mano{
  0%{
   transform:translate(1.000001px, 1.000001px) rotate(-11deg);
  }
  10%{
    transform:translate(1.000001px, 1.000001px) rotate(-11deg);

  }
}
@keyframes mano2{
  0%{
   transform:translate(1.000001px, 1.000001px)  rotate(11deg);
  }
  100%{
    transform:translate(1.000001px, 1.000001px)  rotate(-11deg);

  }
}
#undraw_progressive_app_m-9-ms-s-g4{
  animation: brazo  0.7s infinite alternate ;
  transform-origin: bottom;
  transform-box:fill-box;
  
}
@keyframes brazo{
  10%{
    transform: translate(0.000001px, 0.000001px) rotate(-5deg);
  }
  0%{
    transform: translate(0.000001px, 0.000001px) rotate(-5deg);
  }
}
/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/




/*
.slick-arrow {
  position: absolute;
  top: 40%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #101010 !important;
  filter: invert(70%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  padding-left: 2rem;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (max-width: 600px){
  .sobremi{
    font-size: 15px !important;
    padding: 0px !important;
  }
  .nombre{
    font-size: 30px !important;
  }
  .code-container{
    padding-top: -10px !important;
  }
}
  

/* JsFiddle Example only/don't use */
.logo-carousel {
  margin-top: 32px;
}

.code-container {
  border-radius: 5px; /* Bordes redondeados */
}
pre{
  border-radius: 10px;
}

 code {
  text-align: left !important; 
  display: block; 
  white-space: pre-wrap; 
  border-radius: 10px;
}

/*card*/
.card-id567 {
  width: 140px;
  height: 140px;
  background: rgb(250, 248, 248);
  color: rgb(21, 20, 20);
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
  /*animation: 8s thumb-thumb infinite;*/
}

.card-id567 svg path {
  transition: 300ms ease;
  opacity: 0;
}

.bold-567 {
  font-weight: bold;
}

.creator-points {
  width: 3.25rem;
  height: 3rem;
  color: var(--bs-blue); /* rgb(167 139 250);
    /* w-5 h-5 mr-2 text-indigo-400 */
}

.blurry-splash {
  position: absolute;
  inset: 0;
  width: 60px;
  margin: 0 auto;
  height: 60px;
  border-radius: 1rem;
  z-index: -1;
  opacity: 70%;
  filter: blur(15px);
 /* #2596be 0%, #2596be 50%, #138b89 100%)*/
  background: linear-gradient(
      120deg, rgba(167, 139, 250, 0.24)
      , rgba(167, 139, 250, 0.384), rgba(167, 139, 250, 0.226));
}

.prompt-id567 {
  position: absolute;
  color: rgb(173, 173, 173);
  text-align: center;
}

.really-small-text {
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 8px;
  margin-top: 2px;
  padding-bottom: 28px;
  opacity: 0.5;
  color: #212529;
}
/*
.card-id567:hover {
  cursor: none;
  background-color: white;
}
/*
.card-id567:hover .prompt-id567 {
  transition: 300ms ease;
  opacity: 0;
}
*/
.token-container {
  animation: 3s spinny-token-yayyy infinite;
  margin-bottom: 10px;
}

.prompt-id567 svg path {
  stroke: none;
  opacity: 1;
}

.card-id567:hover svg path {
  opacity: 1;
}

@keyframes spinny-token-yayyy {
  0% {
    transform: perspective(200px) rotateY(0deg);
  }

  100% {
    transform: perspective(200px) rotateY(360deg);
  }
}

@keyframes thumb-thumb {
  0%, 10%, 100% {
    transform: scale(100%);
  }

  5% {
    transform: scale(103%);
  }

  7% {
    transform: scale(97%);
  }
}